openapi: 3.0.1
info:
  contact:
    email: support@whitelabelcomm.com
    name: CPaaS API Support
    url: https://whitelabelcomm.com
  description: A CPaaS platform API
  title: White Label Communications CPaas API Documentation
  version: "1.1"
servers:
- url: //api.beta.cpaaslabs.net/
paths:
  /v1/account:
    get:
      description: Retrieve a list of all CPaaS accounts that exist within your organization.
      parameters:
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsAccountGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Account List
      tags:
      - Account
      x-accepts:
      - application/json
    post:
      description: Create an account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPAccountAddData"
        description: account fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsAccountGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Create Account
      tags:
      - Account
      x-codegen-request-body-name: account
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/apikey:
    get:
      description: Authenticate an application or user request to get the client ID
        and client secret for a CPaaS account.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsAccountAPIKey"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      tags:
      - Account
      x-accepts:
      - application/json
  /v1/account/phonenumber:
    get:
      description: Obtain all phone numbers that have not been assigned to a CPaaS
        account within your organization.
      parameters:
      - description: "Start key for pagination, obtained from previous responses"
        in: query
        name: start_key
        schema:
          type: string
      - description: "Number of records to return per page (range: 1 to 50)"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsAccountPhonenumberGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Unassigned Numbers List
      tags:
      - Phone Number
      x-accepts:
      - application/json
    post:
      description: Purchase or activate a phone number for CPaaS accounts within your
        business.
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        description: phonenumber fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsOrderPhonenumber"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Purchase Number
      tags:
      - Phone Number
      x-codegen-request-body-name: phonenumber
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/phonenumber/assign:
    post:
      description: Assign a purchased phone number to an account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.DocsPhonenumberAssignPayload"
        description: assignment payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.APIResponseStatusCodeOnly"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Assign Number
      tags:
      - Phone Number
      x-codegen-request-body-name: payload
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/phonenumber/disconnect:
    post:
      description: Disconnecting a phone number from a CPaaS account relinquishes
        ownership of the number back to the carrier.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.DocsPhonenumberUnassignPayload"
        description: disconnect payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.APIResponseStatusCodeOnly"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Disconnect Number
      tags:
      - Phone Number
      x-codegen-request-body-name: payload
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/phonenumber/unassign:
    post:
      description: Remove a phone number from an account and place it back on the
        list of unassigned phone numbers.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.DocsPhonenumberUnassignPayload"
        description: unassign payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.APIResponseStatusCodeOnly"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Unassign Number
      tags:
      - Phone Number
      x-codegen-request-body-name: payload
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/callflow:
    get:
      description: Permit a user to view the callflow details in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallflowGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Callflow List
      tags:
      - Callflow
      x-accepts:
      - application/json
    post:
      description: Create instructions for routing a call to a user or system.
      parameters:
      - description: "Account ID, 32 alpha-numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.CallflowAddEditData"
        description: Call flow configuration
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallflowGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Create Call Group
      tags:
      - Callflow
      x-codegen-request-body-name: request
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/callflow/{callflowID}:
    delete:
      description: Delete a callflow in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "callflow ID, 32 alpha numeric"
        in: path
        name: callflowID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallflowGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Delete Call Group
      tags:
      - Callflow
      x-accepts:
      - application/json
    get:
      description: Get the details for a single callflow in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Callflow ID, 32 alpha numeric"
        in: path
        name: callflowID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallflowGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Call Group Details
      tags:
      - Callflow
      x-accepts:
      - application/json
    put:
      description: Update the details for a single callflow in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Callflow ID, 32 alpha numeric"
        in: path
        name: callflowID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.CallflowAddEditData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallflowGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Update Call Group
      tags:
      - Callflow
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/callqueue:
    get:
      description: Retrieve call queue details for an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallQueueGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Call Queues
      tags:
      - Call Queue Management
      x-accepts:
      - application/json
    post:
      description: Set up a call queue in an account for specific inbound calls.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPCallQueueAddEditData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallQueueGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Create Call Queue
      tags:
      - Call Queue Management
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/callqueue/{queueID}:
    delete:
      description: Remove the call queue from an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Queue ID, 32 alpha numeric"
        in: path
        name: queueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallQueueGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Delete Call Queue
      tags:
      - Call Queue Management
      x-accepts:
      - application/json
    get:
      description: "Capture metadata about a specific queue, such as queue_type and\
        \ agent_wrapup_time."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Queue ID, 32 alpha numeric"
        in: path
        name: queueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallQueueGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Call Queue Details
      tags:
      - Call Queue Management
      x-accepts:
      - application/json
    put:
      description: Update the metadata mentioned above.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Queue ID, 32 alpha numeric"
        in: path
        name: queueID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPCallQueueAddEditData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallQueueGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Update Call Queue
      tags:
      - Call Queue Management
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/callqueue/{queueID}/status:
    get:
      description: "Access the status of a call queue in an account, such as the number\
        \ of available agents (recipients), estimated wait time, and number of active\
        \ sessions."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Queue ID, 32 alpha numeric"
        in: path
        name: queueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallQueueGetSingleStatus"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Call Queue Status
      tags:
      - Call Queue Management
      x-accepts:
      - application/json
  /v1/account/{accountID}/cdr:
    get:
      description: Retrieve a list of CDRs in a specific account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: Page size (Maximum number of results to display per page)
        in: query
        name: page_size
        schema:
          type: string
      - description: Start key (Starting offset for displaying results)
        in: query
        name: start_key
        schema:
          type: string
      - description: "For displaying records which are created on or after this timestamp\
          \ (Supported timestamp formats: iso 8601, unix time in seconds or milliseconds\
          \ or microseconds or nanoseconds)"
        in: query
        name: created_from
        schema:
          type: string
      - description: "For displaying records which are created on or before this timestamp\
          \ (Supported timestamp formats: iso 8601, unix time in seconds or milliseconds\
          \ or microseconds or nanoseconds)"
        in: query
        name: created_to
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCdrGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get CDR List
      tags:
      - Data
      x-accepts:
      - application/json
  /v1/account/{accountID}/cdr/{cdrID}:
    get:
      description: Retrieve the details of a single CDR record from an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "CDR ID, string"
        in: path
        name: cdrID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCdrGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get CDR Details
      tags:
      - Data
      x-accepts:
      - application/json
  /v1/account/{accountID}/channel:
    get:
      description: Get a list of active channels for an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsChannelGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Account Channel List
      tags:
      - Channel
      x-accepts:
      - application/json
  /v1/account/{accountID}/channel/{channelID}:
    get:
      description: Access details about each channel in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: Channel ID
        in: path
        name: channelID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsChannelGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Channel Details
      tags:
      - Channel
      x-accepts:
      - application/json
    post:
      description: "Link an action, such as transfer or hangup to a channel."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: Channel ID
        in: path
        name: channelID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPChannelRunActionData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.APIResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Associate Action to Channel
      tags:
      - Channel
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Link a metaflow to an active channel.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: Channel ID
        in: path
        name: channelID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPChannelRunMetaflowData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.APIResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Associate Metaflow to Channel
      tags:
      - Channel
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/device/{deviceID}/channel:
    get:
      description: Get the list of active channels for a device.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Device ID, 32 alpha numeric"
        in: path
        name: deviceID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsChannelGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Device Channel List
      tags:
      - Channel
      x-accepts:
      - application/json
  /v1/account/{accountID}/device/{deviceID}/metaflow:
    delete:
      description: Delete all metaflows associated with a device.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Device ID, 32 alpha numeric"
        in: path
        name: deviceID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsMetaflowGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Delete Device Metaflow
      tags:
      - Metaflow
      x-accepts:
      - application/json
    get:
      description: Get the list of metaflows for a device.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Device ID, 32 alpha numeric"
        in: path
        name: deviceID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsMetaflowGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Device Metaflow List
      tags:
      - Metaflow
      x-accepts:
      - application/json
    post:
      description: Create a metaflow or multiple metaflows for a device.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Device ID, 32 alpha numeric"
        in: path
        name: deviceID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPMetaflowAddData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsMetaflowGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Create Device Metaflow
      tags:
      - Metaflow
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/group:
    get:
      description: Get a list of groups associated with an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocGroupGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Group List
      tags:
      - Group
      x-accepts:
      - application/json
    post:
      description: Provide an additional resource by adding a group list to an account.
      parameters:
      - description: Account ID
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPGroupAddEdit2"
        description: group fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocGroupGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Create Group
      tags:
      - Group
      x-codegen-request-body-name: group
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/group/{groupID}:
    delete:
      description: Delete a call group in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "group ID, 32 alpha numeric"
        in: path
        name: groupID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocGroupGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Delete Group
      tags:
      - Group
      x-accepts:
      - application/json
    get:
      description: Access details about a single group within an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Group ID, 32 alpha numeric"
        in: path
        name: groupID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocGroupGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Group Details
      tags:
      - Group
      x-accepts:
      - application/json
    put:
      description: "Modify the name, settings and other information for a group within\
        \ an account."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Group ID, 32 alpha numeric"
        in: path
        name: groupID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPGroupAddEdit2"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocGroupGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Update Group
      tags:
      - Group
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/loginrecipient/{recipientID}:
    post:
      description: "Agents must log in to receive calls. Depending on their membership,\
        \ they can log in to one or more queues. (If an agent is a member of more\
        \ than one queue, they will receive calls from all the queues they are a part\
        \ of.)"
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Recipient ID, 32 alpha numeric"
        in: path
        name: recipientID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPCallQueueRecipientLoginLogoutData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallQueueRecipientLoginLogoutOutput"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Login as Recipient
      tags:
      - Call Queue Recipient
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/media/{mediaID}/file:
    get:
      description: Gather data about the media objects in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Media ID, 32 alpha numeric"
        in: path
        name: mediaID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            audio/mp3:
              schema:
                format: binary
                type: string
            audio/mpeg:
              schema:
                format: binary
                type: string
            audio/mpeg3:
              schema:
                format: binary
                type: string
            audio/x-wav:
              schema:
                format: binary
                type: string
            audio/wav:
              schema:
                format: binary
                type: string
            audio/ogg:
              schema:
                format: binary
                type: string
            video/x-flv:
              schema:
                format: binary
                type: string
            video/h264:
              schema:
                format: binary
                type: string
            video/mpeg:
              schema:
                format: binary
                type: string
            video/quicktime:
              schema:
                format: binary
                type: string
            video/mp4:
              schema:
                format: binary
                type: string
            video/webm:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
            audio/mp3:
              schema:
                $ref: "#/components/schemas/CPAASError"
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/CPAASError"
            audio/mpeg3:
              schema:
                $ref: "#/components/schemas/CPAASError"
            audio/x-wav:
              schema:
                $ref: "#/components/schemas/CPAASError"
            audio/wav:
              schema:
                $ref: "#/components/schemas/CPAASError"
            audio/ogg:
              schema:
                $ref: "#/components/schemas/CPAASError"
            video/x-flv:
              schema:
                $ref: "#/components/schemas/CPAASError"
            video/h264:
              schema:
                $ref: "#/components/schemas/CPAASError"
            video/mpeg:
              schema:
                $ref: "#/components/schemas/CPAASError"
            video/quicktime:
              schema:
                $ref: "#/components/schemas/CPAASError"
            video/mp4:
              schema:
                $ref: "#/components/schemas/CPAASError"
            video/webm:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Media File
      tags:
      - Media
      x-accepts:
      - application/json
      - audio/mp3
      - audio/mpeg
      - audio/mpeg3
      - audio/ogg
      - audio/wav
      - audio/x-wav
      - video/h264
      - video/mp4
      - video/mpeg
      - video/quicktime
      - video/webm
      - video/x-flv
    post:
      description: Include a media file that is connected to a media object in an
        account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Media ID, 32 alpha numeric"
        in: path
        name: mediaID
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/_v1_account__accountID__media__mediaID__file_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsMediaGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Add Media File
      tags:
      - Media
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /v1/account/{accountID}/menu:
    get:
      description: Users can access data about all menus in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MenuOutputList"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Menu List
      tags:
      - Menu
      x-accepts:
      - application/json
    post:
      description: Create a new menu for an account.
      parameters:
      - description: "Account ID, 32 alphanumeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MenuInputData"
        description: Menu data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MenuOutputDetail"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Create Menu
      tags:
      - Menu
      x-codegen-request-body-name: menu
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/menu/{menuID}:
    delete:
      description: Delete a menu from an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Menu ID, 32 alpha numeric"
        in: path
        name: menuID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MenuOutputDetail"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Delete Menu
      tags:
      - Menu
      x-accepts:
      - application/json
    get:
      description: Get details about a menu in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Menu ID, 32 alpha numeric"
        in: path
        name: menuID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MenuOutputDetail"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Menu Details
      tags:
      - Menu
      x-accepts:
      - application/json
    put:
      description: Edit an account menu.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Menu ID, 32 alpha numeric"
        in: path
        name: menuID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MenuInputData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MenuOutputDetail"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Update Menu
      tags:
      - Menu
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/metaflow:
    delete:
      description: Remove all metaflows from an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsMetaflowGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Delete Account Metaflow
      tags:
      - Metaflow
      x-accepts:
      - application/json
    get:
      description: Get an account's metaflow list.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsMetaflowGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Account Metaflow List
      tags:
      - Metaflow
      x-accepts:
      - application/json
    post:
      description: Generate a metaflow for an account.
      parameters:
      - description: Account ID
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPMetaflowAddData"
        description: Metaflow fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsMetaflowGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Create Account Metaflow
      tags:
      - Metaflow
      x-codegen-request-body-name: metaflow
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/parkedcall:
    get:
      description: Retrieve a list of calls parked on hold in a numbered slot.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallparkGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Call Park List
      tags:
      - Call Park
      x-accepts:
      - application/json
  /v1/account/{accountID}/presence:
    get:
      description: Retrieve details of presence subscriptions in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsPresenceGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Presence Details
      tags:
      - Presence
      x-accepts:
      - application/json
  /v1/account/{accountID}/presence/{extension}:
    put:
      description: Set or reset the presence status of an extension.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: Extension
        in: path
        name: extension
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPPresenceSetResetEditData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.APIResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Set/Reset Presence for Extension
      tags:
      - Presence
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/provision/{filename}:
    get:
      description: "Retrieve the configuration details (e.g., settings and parameters)\
        \ for a device."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: Name of config file
        in: path
        name: filename
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - BasicAuth: []
      summary: Get Config File Details
      tags:
      - Provisioning
      x-accepts:
      - '*/*'
  /v1/account/{accountID}/queuemembership:
    post:
      description: Allow users to create queue memberships for recipients.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPQueueMembershipAddData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsQueueMembershipOutput"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Grant Queue Membership to User
      tags:
      - Call Queue Membership
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/queuemembership/{recipientID}/disable:
    post:
      description: Deactivate queue membership for a recipient.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Recipient ID, 32 alpha numeric"
        in: path
        name: recipientID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.APIResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Disable Queue Membership
      tags:
      - Call Queue Membership
      x-accepts:
      - application/json
  /v1/account/{accountID}/queuemembership/{recipientID}/enable:
    post:
      description: Activate queue membership for a recipient.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Recipient ID, 32 alpha numeric"
        in: path
        name: recipientID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPCallQueueEnableMembershipData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.APIResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Enable Queue Membership
      tags:
      - Call Queue Membership
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/queuerecipient:
    get:
      description: Get a list of all recipients in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsGetQueueRecipients"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Change Recipient Status
      tags:
      - Call Queue Recipient
      x-accepts:
      - application/json
  /v1/account/{accountID}/queueroles:
    get:
      description: Obtain data about each queue role in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallQueueGetRoles"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Queue Roles of Account
      tags:
      - Call Queue Management
      x-accepts:
      - application/json
  /v1/account/{accountID}/queueroles/{queueID}:
    post:
      description: Assign roles to members in a call queue.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Queue ID, 32 alpha numeric"
        in: path
        name: queueID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPCallQueueRoleAssignData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.APIResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Assign Queue Role to Call Queue
      tags:
      - Call Queue Management
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/recipient/{recipientID}/status:
    post:
      description: "Change the status of a recipient to ready, away, etc."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Recipient ID, 32 alpha numeric"
        in: path
        name: recipientID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPCallQueueRecipientStatusData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.APIResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Recipient List
      tags:
      - Call Queue Recipient
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/recording:
    get:
      description: Obtain a list of the call recordings within an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallRecordingGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Account Call Recording
      tags:
      - Call Recording
      x-accepts:
      - application/json
  /v1/account/{accountID}/recording/{recordingID}:
    delete:
      description: Delete a single call recording from an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Recording ID, 39 (yyyymm-<32 id>)"
        in: path
        name: recordingID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallRecordingGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Delete Call Recording
      tags:
      - Call Recording
      x-accepts:
      - application/json
    get:
      description: "Access details for each recorded call in an account (e.g., duration,\
        \ names and numbers of call participants, etc.)."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Recording ID, 39 (yyyymm-<32 id>)"
        in: path
        name: recordingID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallRecordingGetSingle"
            audio/mp3:
              schema:
                $ref: "#/components/schemas/service.DocsCallRecordingGetSingle"
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/service.DocsCallRecordingGetSingle"
            audio/mpeg3:
              schema:
                $ref: "#/components/schemas/service.DocsCallRecordingGetSingle"
            audio/x-wav:
              schema:
                $ref: "#/components/schemas/service.DocsCallRecordingGetSingle"
            audio/wav:
              schema:
                $ref: "#/components/schemas/service.DocsCallRecordingGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
            audio/mp3:
              schema:
                $ref: "#/components/schemas/CPAASError"
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/CPAASError"
            audio/mpeg3:
              schema:
                $ref: "#/components/schemas/CPAASError"
            audio/x-wav:
              schema:
                $ref: "#/components/schemas/CPAASError"
            audio/wav:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Call Recording Details
      tags:
      - Call Recording
      x-accepts:
      - application/json
      - audio/mp3
      - audio/mpeg
      - audio/mpeg3
      - audio/wav
      - audio/x-wav
  /v1/account/{accountID}/storage:
    delete:
      description: Delete items that are stored in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsStorageGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Delete Storage
      tags:
      - Storage
      x-accepts:
      - application/json
    get:
      description: Retrieve storage details for an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsStorageGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Storage Details
      tags:
      - Storage
      x-accepts:
      - application/json
    post:
      description: "Create storage in an account for voicemails, call recordings,\
        \ faxes, etc."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPStorageAddEditData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsStorageGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Create Storage
      tags:
      - Storage
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: "Modify the names of metadata to make it easier to locate (e.g.,\
        \ change the name of voicemail_storage to voicemail_and_callrecordings_storage,\
        \ etc.)."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPStorageAddEditData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsStorageGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Update Storage
      tags:
      - Storage
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/temporalrule:
    get:
      description: Access all temporal rules for an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsTemporalRuleGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Temporal Rule List
      tags:
      - Temporal Rule
      x-accepts:
      - application/json
    post:
      description: Create temporal rules for an account.
      parameters:
      - description: "Account ID, 32 alphanumeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPTemporalRuleAddEdit2"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsTemporalRuleGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Create Temporal Rule
      tags:
      - Temporal Rule
      x-codegen-request-body-name: temporalrule
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/temporalrule/{temporalRuleID}:
    delete:
      description: Remove a temporal rule from an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "temporal rule ID, 32 alpha numeric"
        in: path
        name: temporalRuleID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsTemporalRuleGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Delete Temporal Rule
      tags:
      - Temporal Rule
      x-accepts:
      - application/json
    get:
      description: View details about individual time rules.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Temporal Rule ID, 32 alpha numeric"
        in: path
        name: temporalRuleID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsTemporalRuleGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Temporal Rule Details
      tags:
      - Temporal Rule
      x-accepts:
      - application/json
    put:
      description: Edit the existing temporal rules in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Temporal Rule ID, 32 alpha numeric"
        in: path
        name: temporalRuleID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPTemporalRuleAddEdit2"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsTemporalRuleGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Update Temporal Rule
      tags:
      - Temporal Rule
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/temporalruleset:
    get:
      description: Access the temporal rule set list in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsTemporalRuleSetGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Temporal Rule Set List
      tags:
      - Temporal Rule Set
      x-accepts:
      - application/json
    post:
      description: Develop a new temporal rule set for an account.
      parameters:
      - description: "Account ID, 32 alphanumeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPTemporalRuleSetAddEditData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsTemporalRuleSetGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Create Temporal Rule Set
      tags:
      - Temporal Rule Set
      x-codegen-request-body-name: temporalruleset
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/temporalruleset/{temporalRuleSetID}:
    delete:
      description: Delete the temporal rule set from an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "temporal rule set ID, 32 alpha numeric"
        in: path
        name: temporalRuleSetID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsTemporalRuleSetGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Delete Temporal Rule Set
      tags:
      - Temporal Rule Set
      x-accepts:
      - application/json
    get:
      description: Acquire details about a temporal rule set in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Temporal Ruleset ID, 32 alpha numeric"
        in: path
        name: temporalRuleSetID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsTemporalRuleSetGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Temporal Rule Set Details
      tags:
      - Temporal Rule Set
      x-accepts:
      - application/json
    put:
      description: Efficiently adjust the temporal rule set in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Temporal Ruleset ID, 32 alpha numeric"
        in: path
        name: temporalRuleSetID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPTemporalRuleSetAddEditData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsTemporalRuleSetGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Update Temporal Rule Set
      tags:
      - Temporal Rule Set
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/user/{userID}/channel:
    get:
      description: Get the list of active channels for a user.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "User ID, 32 alpha numeric"
        in: path
        name: userID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsChannelGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get User Channel List
      tags:
      - Channel
      x-accepts:
      - application/json
  /v1/account/{accountID}/user/{userID}/metaflow:
    delete:
      description: Delete all metaflows associated with a user.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "user ID, 32 alpha numeric"
        in: path
        name: userID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsMetaflowGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Delete User Metaflow
      tags:
      - Metaflow
      x-accepts:
      - application/json
    get:
      description: Get the list of metaflows for a user.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "user ID, 32 alpha numeric"
        in: path
        name: userID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsMetaflowGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get User Metaflow List
      tags:
      - Metaflow
      x-accepts:
      - application/json
    post:
      description: Add a metaflow or multiple metaflows for a user in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "user ID, 32 alpha numeric"
        in: path
        name: userID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPMetaflowAddData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsMetaflowGet"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Create User Metaflow
      tags:
      - Metaflow
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/user/{userID}/presence:
    put:
      description: Set or reset the presence status of a user within an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "User ID, 32 alpha numeric"
        in: path
        name: userID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPPresenceSetResetEditData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.APIResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Set/Reset Presence for User
      tags:
      - Presence
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/user/{userID}/recording:
    get:
      description: Retrieve a list of call recordings for a user within an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "User ID, 32 alpha numeric"
        in: path
        name: userID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsCallRecordingGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get User Call Recording
      tags:
      - Call Recording
      x-accepts:
      - application/json
  /v1/account/{accountID}/voicemail:
    get:
      description: List all voicemail boxes in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsVoicemailGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Voicemail Box List
      tags:
      - Voicemail
      x-accepts:
      - application/json
    post:
      description: Create a voicemail box for receiving and storing voicemail messages.
      parameters:
      - description: "account ID, 32 alphanumeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPVoicemailAddEditData"
        description: voicemail payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsVoicemailGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Create Voicemail Box
      tags:
      - Voicemail
      x-codegen-request-body-name: voicemail
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/voicemail/{voicemailID}:
    delete:
      description: Delete a voicemail box in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsVoicemailGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Delete Voicemail Box
      tags:
      - Voicemail
      x-accepts:
      - application/json
    get:
      description: Get information about a single voicemail box.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsVoicemailGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Voicemail Box Details
      tags:
      - Voicemail
      x-accepts:
      - application/json
    put:
      description: "Update the settings in an individual voicemail box, such as the\
        \ owner, PIN, etc."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPVoicemailAddEditData"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsVoicemailGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Update Voicemail Box
      tags:
      - Voicemail
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/voicemail/{voicemailID}/message:
    get:
      description: Get a list of voicemail messages from an account's voicemail box.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsVoicemailMessageGetAll"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Voicemail Message List
      tags:
      - Voicemail
      x-accepts:
      - application/json
    post:
      description: Create the container information for a recorded voicemail message
        in a voicemail box.
      parameters:
      - description: "account ID, 32 alphanumeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "voicemail ID, 32 alphanumeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPVoicemailMessageAddData"
        description: voicemail message payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsVoicemailMessageGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Create Voicemail Message
      tags:
      - Voicemail
      x-codegen-request-body-name: message
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/voicemail/{voicemailID}/message/{messageID}:
    delete:
      description: Delete a voicemail message from a voicemail box in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      - description: "message ID, 32 alpha numeric"
        in: path
        name: messageID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsVoicemailMessageGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Delete Voicemail Message
      tags:
      - Voicemail
      x-accepts:
      - application/json
    get:
      description: "Retrieve the container details of an individual voicemail message.\
        \ This includes a reference to the audio file, but not the message itself."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      - description: "Message ID, 39 (yyyymm-<32 id>)"
        in: path
        name: messageID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsVoicemailMessageGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Get Voicemail Message Details
      tags:
      - Voicemail
      x-accepts:
      - application/json
    put:
      description: Copy or move a voicemail message to a different folder in the same
        voicemail box or move the message to a separate voicemail box.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      - description: "Message ID, 39 (yyyymm-<32 id>)"
        in: path
        name: messageID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/service.VOIPVoicemailMessageChange"
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service.DocsVoicemailMessageGetSingle"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPAASError"
          description: Bad Request
      security:
      - bearerauth: []
      summary: Update Voicemail Message
      tags:
      - Voicemail
      x-codegen-request-body-name: reqBody
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/{accountID}/voicemail/{voicemailID}/message/{messageID}/file:
    get:
      description: |-
        Get the original audio content of a specific voicemail message identified by its unique ID within an account's voicemail box.
        URL Param "voicemailID" is a unique 32-character alphanumeric identifier assigned by the system, which refers to a specific voicemail box.
        URL Param "messageID" is a unique 32-character alphanumeric identifier assigned by the system, which refers to a specific message within a voicemail box.
      parameters:
      - description: "Account ID, unique 32-character alphanumeric identifier"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail Box ID, unique 32-character alphanumeric identifier"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      - description: "Message ID, unique 32-character alphanumeric identifier"
        in: path
        name: messageID
        required: true
        schema:
[...]
